<div class="col-md-6 bake-container">
  <h2 class="text-center">Add Bake</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="bakename">Bake Name:</label>
      <input type="text" formControlName="bakename" placeholder="bakename" name="bakename" class="form-control" id="bakename">
    </div>

    <div class="form-group">
      <label for="bakeprice">Bake Price:</label>
      <input type="text" formControlName="bakeprice" placeholder="bakeprice" name="bakeprice" class="form-control" id="bakeprice">
    </div>

    <button class="btn btn-success">Add</button>
  </form>
</div>